/* You can add global styles to this file, and also import other style files */

// Import styles with default layout.
@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);

// Import Chart.js custom tooltips styles
@use "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@use "theme";

// Some temp fixes
//@use "fixes";

// If you want to add custom CSS you can put it here.
@use "custom";

// Shared Core UI theme tokens (dark/light).
@use "../app/shared/components/common/core-ui/theme" as core-ui-theme;

// Global styles for the settings panel dropdown.
@use "settings-panel";

// Global styles for the Quran study view.
@use "quran-lesson-study";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@use "examples";
