<article class="quran-reading-page" [attr.aria-label]="page.meta.pageLabel">
  <div class="quran-reading-page__surface">
    <div class="quran-reading-page__frame">
      <div class="quran-reading-page__passage" *ngIf="passageSections.length; else noPassage" dir="rtl" lang="ar" translate="no">
        <section
          *ngFor="let section of passageSections; trackBy: trackBySection"
          class="quran-reading-page__section"
        >
          <p class="quran-reading-page__section-title" *ngIf="section.heading">{{ section.heading }}</p>
          <p class="quran-reading-page__section-basmallah" *ngIf="section.basmallah">{{ section.basmallah }}</p>
          <p class="quran-reading-page__section-text" *ngIf="section.verses.length">
            <ng-container *ngFor="let verse of section.verses; trackBy: trackByVerse">
              <span class="quran-reading-page__verse-text">{{ verse.text }}</span>
              <span class="quran-reading-page__marker" *ngIf="verse.marker" aria-hidden="true">{{ verse.marker }}</span>
              <span> </span>
            </ng-container>
          </p>
        </section>
      </div>

      <ng-template #noPassage>
        <p class="quran-reading-page__fallback-empty">No renderable text is available for this page.</p>
      </ng-template>
    </div>
  </div>
</article>
