<article class="content-block-card km-subcard">
  <div class="content-block-card__head">
    <div>
      <p class="content-block-card__eyebrow">{{ blockLabel }}</p>
      <h3>{{ block.title }}</h3>
    </div>

    <div class="content-block-card__actions">
      <ion-button fill="clear" size="small" [disabled]="!canMoveUp" (click)="moveUp.emit(block.id)">
        <ion-icon name="chevron-up-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" [disabled]="!canMoveDown" (click)="moveDown.emit(block.id)">
        <ion-icon name="chevron-down-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" color="danger" (click)="remove.emit(block.id)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>

  <button type="button" class="content-block-card__body" (click)="selected.emit(block.id)">
    {{ block.body }}
  </button>
</article>
