<ion-header class="source-unit-editor-modal__header">
  <ion-toolbar class="source-unit-editor-modal__toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="close()">Cancel</ion-button>
    </ion-buttons>

    <ion-title class="source-unit-editor-modal__title">{{ headerTitle() }}</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" [disabled]="saving()" (click)="save()">
        {{ saving() ? 'Saving' : 'Save' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="source-unit-editor-modal__content">
  <form class="source-unit-editor-modal__form" [formGroup]="form">
    <section class="source-unit-editor-modal__grid">
      <div class="source-unit-editor-modal__section">
        <label class="source-unit-editor-modal__label">Type</label>
        <ion-item lines="none" class="source-unit-editor-modal__field">
          <ion-select formControlName="unitType" interface="popover">
            <ion-select-option *ngFor="let option of unitTypeOptions" [value]="option">
              {{ unitTypeLabel(option) }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="source-unit-editor-modal__section">
        <label class="source-unit-editor-modal__label">Parent</label>
        <ion-item lines="none" class="source-unit-editor-modal__field">
          <ion-select formControlName="parentUnitId" interface="popover">
            <ion-select-option *ngFor="let option of parentOptions()" [value]="option.id ?? ''">
              {{ option.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </section>

    <section class="source-unit-editor-modal__section">
      <label class="source-unit-editor-modal__label">Title</label>
      <ion-item lines="none" class="source-unit-editor-modal__field">
        <ion-input formControlName="title" placeholder="Passage 1 (1-7)"></ion-input>
      </ion-item>
    </section>

    <section class="source-unit-editor-modal__grid">
      <div class="source-unit-editor-modal__section">
        <label class="source-unit-editor-modal__label">Start Ref</label>
        <ion-item lines="none" class="source-unit-editor-modal__field">
          <ion-input formControlName="startRef" placeholder="12:1"></ion-input>
        </ion-item>
      </div>

      <div class="source-unit-editor-modal__section">
        <label class="source-unit-editor-modal__label">End Ref</label>
        <ion-item lines="none" class="source-unit-editor-modal__field">
          <ion-input formControlName="endRef" placeholder="12:7"></ion-input>
        </ion-item>
      </div>
    </section>

    <section class="source-unit-editor-modal__section">
      <label class="source-unit-editor-modal__label">Anchor Text</label>
      <ion-item lines="none" class="source-unit-editor-modal__field">
        <ion-input formControlName="anchorText" placeholder="Opening words"></ion-input>
      </ion-item>
    </section>

    <section class="source-unit-editor-modal__section">
      <label class="source-unit-editor-modal__label">Summary</label>
      <ion-item lines="none" class="source-unit-editor-modal__field source-unit-editor-modal__field--textarea">
        <ion-textarea formControlName="summary" autoGrow="true" rows="4" placeholder="Short summary"></ion-textarea>
      </ion-item>
    </section>

    <section class="source-unit-editor-modal__section">
      <label class="source-unit-editor-modal__label">Reading Body</label>
      <ion-item lines="none" class="source-unit-editor-modal__field source-unit-editor-modal__field--textarea">
        <ion-textarea
          formControlName="readingBodyText"
          autoGrow="true"
          rows="6"
          placeholder="One verse or paragraph per line"
        ></ion-textarea>
      </ion-item>
    </section>
  </form>
</ion-content>
