<section class="study-tab study-tab--sentence">
  <ion-accordion-group class="study-accordion" *ngIf="entries.length; else noSentenceEntries">
    <ion-accordion class="study-accordion-item" *ngFor="let sentence of entries" [value]="sentence.id">
      <ion-item slot="header" class="study-accordion-header study-accordion-header--sentence">
        <ion-label class="study-sentence-header-label" translate="no">
          <span class="study-sentence-header-index">{{ sentence.order }}.</span>
          <span class="study-sentence-header-text arabic" dir="rtl">{{ sentence.summary }}</span>
        </ion-label>
        <ion-button
          slot="end"
          fill="clear"
          size="small"
          class="study-notes-icon-btn"
          aria-label="Open sentence notes"
          (click)="openSentenceNotes($event, sentence)"
        >
          <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <div slot="content" class="study-accordion-content">
        <p class="study-body-text" *ngIf="sentence.translation">{{ sentence.translation }}</p>

        <ion-list class="study-list" lines="none" *ngIf="sentence.components.length">
          <ion-item class="study-item study-item--sub" *ngFor="let component of sentence.components" lines="none">
            <ion-label>{{ component }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ng-template #noSentenceEntries>
    <p class="study-empty">No sentence structure entries available.</p>
  </ng-template>
</section>
