<section class="study-tab study-tab--comprehension">
  <ion-accordion-group class="study-accordion" *ngIf="groups.length; else noComprehensionGroups">
    <ion-accordion
      class="study-accordion-item"
      *ngFor="let group of groups; let groupIndex = index"
      [value]="group.id"
      [attr.data-accent]="group.accent"
    >
      <ion-item slot="header" class="study-accordion-header">
        <ion-label>{{ group.title }}</ion-label>
        <ion-note slot="end">{{ group.questions.length }}</ion-note>
      </ion-item>

      <div slot="content" class="study-accordion-content">
        <ion-list class="study-list" lines="none">
          <ng-container *ngFor="let question of group.questions; let questionIndex = index">
            <ion-item class="study-item study-item--question" lines="none">
              <ion-label>{{ questionIndex + 1 }}. {{ question }}</ion-label>
              <ion-button
                slot="end"
                fill="clear"
                size="small"
                class="study-notes-icon-btn"
                aria-label="Open question notes"
                (click)="openQuestionNotes($event, group, groupIndex, questionIndex)"
              >
                <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ng-template #noComprehensionGroups>
    <p class="study-empty">No comprehension prompts available.</p>
  </ng-template>
</section>
