<div class="sst">
  <ng-container *ngIf="sentences.length > 0; else emptyState">

    <div class="sst__canvas-wrap">
      <km-sentence-structure-canvas [treebank]="canvasTreebank" />

      <div class="sst__nav" *ngIf="sentences.length > 1">
        <span class="sst__nav-count">{{ selectedSentenceIndex + 1 }} / {{ sentences.length }}</span>
        <button
          type="button"
          class="sst__nav-next"
          *ngIf="selectedSentenceIndex < sentences.length - 1"
          (click)="selectSentence(selectedSentenceIndex + 1)"
        >Next &#8594;</button>
      </div>
    </div>

  </ng-container>

  <ng-template #emptyState>
    <div class="sst__empty" *ngIf="hasTaskPayload; else noTask">
      <span class="sst__empty-icon">~</span>
      <p class="sst__empty-title">No renderable tree ready yet.</p>
    </div>
  </ng-template>

  <ng-template #noTask>
    <div class="sst__empty">
      <span class="sst__empty-icon">-</span>
      <p class="sst__empty-title">No sentence structure task for this passage.</p>
    </div>
  </ng-template>
</div>
