<div class="table-responsive app-crud-table-shell">
  <table class="table align-middle app-crud-table">
    <thead>
      <tr>
        <th *ngFor="let col of normalizedColumns">{{ col.label }}</th>
        <th *ngIf="hasActionColumn" class="text-end">{{ actionsLabel }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows; trackBy: trackByRow">
        <td *ngFor="let col of normalizedColumns" [ngClass]="resolveCellClass(col, row)">
          <ng-container [ngSwitch]="col.type">
            <span *ngSwitchCase="'badge'" class="badge app-crud-badge" [ngClass]="resolveBadgeClass(col, row)">
              {{ resolveCellValue(col, row) }}
            </span>
            <span *ngSwitchDefault>{{ resolveCellValue(col, row) }}</span>
          </ng-container>
        </td>
        <td *ngIf="hasActionColumn" class="text-end app-crud-actions">
          <button
            *ngFor="let actionItem of resolvedActions; trackBy: trackByAction"
            type="button"
            class="btn btn-sm app-crud-action-btn"
            [ngClass]="[resolveActionButtonClass(actionItem), actionItem.className || '', showActionLabel(actionItem) ? 'app-crud-action-btn-label' : '']"
            [disabled]="isActionDisabled(actionItem, row)"
            [attr.aria-label]="actionItem.label"
            [attr.title]="actionItem.label"
            (click)="onActionClick(actionItem, row)"
          >
            <ng-container *ngIf="actionItem.icon || actionItem.iconPaths?.length">
              <ng-container *ngIf="resolveActionIcon(actionItem) as iconDef; else fallbackIconText">
                <span class="app-crud-icon" aria-hidden="true">
                  <svg [attr.viewBox]="iconDef.viewBox" focusable="false">
                    <path *ngFor="let d of iconDef.paths; trackBy: trackByPath" [attr.d]="d" />
                  </svg>
                </span>
              </ng-container>
              <ng-template #fallbackIconText>
                <span class="app-crud-icon-fallback">{{ actionItem.icon }}</span>
              </ng-template>
            </ng-container>
            <span *ngIf="showActionLabel(actionItem)" class="app-crud-action-label">{{ actionItem.label }}</span>
            <span *ngIf="!actionItem.icon && !showActionLabel(actionItem)" class="app-crud-action-label">{{ actionItem.label }}</span>
          </button>
        </td>
      </tr>
      <tr *ngIf="rows.length === 0">
        <td class="text-muted py-3" [attr.colspan]="colSpan">{{ emptyMessage }}</td>
      </tr>
    </tbody>
  </table>
</div>
