<a
  class="km-home-plane-button"
  [routerLink]="route()"
  [attr.aria-label]="ariaLabel()"
  (pointerenter)="playHover(true)"
  (pointerleave)="playHover(false)">
  <span class="km-home-plane-button__shadow" #shadowRef></span>

  <svg #iconRef class="km-home-plane-button__icon" viewBox="0 0 72 72" aria-hidden="true">
    <path
      class="km-home-plane-button__roof-shadow"
      d="M 36 15.5 L 56.5 31.8 L 53.8 35.2 L 36 21.8 L 18.2 35.2 L 15.5 31.8 Z" />
    <path
      class="km-home-plane-button__roof"
      d="M 14 33.8 L 36 16.2 L 58 33.8"
    />
    <path
      class="km-home-plane-button__house-front"
      d="M 20.5 34.6 L 36 22.4 L 51.5 34.6 V 53.2 A 2.8 2.8 0 0 1 48.7 56 H 23.3 A 2.8 2.8 0 0 1 20.5 53.2 Z" />
    <path class="km-home-plane-button__door" d="M 31 39.5 H 41 V 56 H 31 Z" />
    <path class="km-home-plane-button__door-line" d="M 36 39.5 V 56" />
  </svg>
</a>
