<div class="creator-structured-card" [formGroup]="group">
  <ion-item lines="none" class="km-form-field creator-structured-card__field creator-structured-card__field--compact">
    <ion-select formControlName="tone" label="Tone" labelPlacement="stacked" interface="action-sheet">
      <ion-select-option *ngFor="let tone of tones" [value]="tone">{{ toneLabel(tone) }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none" class="km-form-field km-textarea-field creator-structured-card__field">
    <ion-textarea
      formControlName="text"
      autoGrow="true"
      rows="3"
      label="Talking Point"
      labelPlacement="stacked"
      placeholder="Main point for this segment"
    ></ion-textarea>
  </ion-item>
</div>
