:host {
  display: block;
}

.km-lessons-content {
  padding-top: 0.5rem;
}

.km-lessons-results {
  padding: 0.45rem;
}

.km-lessons-results .km-entry-list {
  padding: 0.12rem;
}

.km-lessons-results .km-entry-row {
  margin-bottom: 0.3rem;
}
