    .arabic-textarea {
      text-align: right;
      direction: rtl;
      font-family: 'UthmanicHafs', 'Amiri', 'Noto Naskh Arabic', serif;
      font-size: var(--app-ar-font-size, 1em);
      line-height: 1.9;
    }
    
