<ion-header translucent="true">
  <ion-toolbar class="quran-reader-page__toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/quran" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="pageData">
      <ion-button fill="clear" (click)="openBrowse()" aria-label="Browse Quran" title="Browse Quran">
        <ion-icon name="grid-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="quran-reader-page__content"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
  (touchcancel)="resetTouch()"
>
  <div class="quran-reader-page__shell">
    <div class="quran-reader-page__state quran-reader-page__state--error" *ngIf="error">{{ error }}</div>

    <div class="quran-reader-page__state" *ngIf="loading">Loading Quran page...</div>

    <ng-container *ngIf="!loading && !error">
      <section class="quran-reader-page__mushaf" *ngIf="renderedLayoutLines.length; else fallbackReading">
        <div class="quran-reader-page__page" dir="rtl" translate="no">
          <div
            *ngFor="let line of renderedLayoutLines; trackBy: trackByLayoutLine"
            class="quran-reader-page__line-container"
            [class.quran-reader-page__line-container--empty]="line.empty"
            [attr.data-line]="line.line_number"
          >
            <div
              class="quran-reader-page__line"
              [class.quran-reader-page__line--ayah]="line.line_type === 'ayah'"
              [class.quran-reader-page__line--centered]="line.is_centered"
              [class.quran-reader-page__line--surah]="line.line_type === 'surah_name'"
              [class.quran-reader-page__line--basmallah]="line.line_type === 'basmallah'"
            >
              <ng-container [ngSwitch]="line.line_type">
                <div *ngSwitchCase="'surah_name'" class="quran-reader-page__surah-name">
                  {{ line.text }}
                </div>

                <div *ngSwitchCase="'basmallah'" class="quran-reader-page__basmallah">
                  {{ line.text }}
                </div>

                <ng-container *ngSwitchDefault>
                  <ng-container *ngIf="line.ayahs.length; else emptyLine">
                    <span
                      *ngFor="let ayah of line.ayahs; trackBy: trackByLayoutAyah"
                      class="quran-reader-page__ayah-container"
                    >
                      <span class="quran-reader-page__ayah" [attr.data-ayah]="ayah.verse_key">
                        <span
                          *ngFor="let word of ayah.words; trackBy: trackByLayoutWord"
                          class="quran-reader-page__word"
                          [attr.id]="getWordDomId(word)"
                          [attr.data-location]="getWordLocation(word)"
                          [attr.data-ayah]="ayah.verse_key"
                          [attr.data-position]="word.position"
                        >
                          {{ getLayoutWordText(word) }}
                        </span>

                        <span *ngIf="ayah.marker" class="quran-reader-page__marker">{{ ayah.marker }}</span>
                      </span>
                    </span>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>

          <div class="quran-reader-page__number" *ngIf="pageData">{{ pageNumberLabel }}</div>
        </div>
      </section>

      <ng-template #fallbackReading>
        <section class="quran-reader-page__mushaf quran-reader-page__mushaf--fallback" dir="rtl" translate="no">
          <div class="quran-reader-page__page">
            <ng-container *ngFor="let group of surahGroups; trackBy: trackByGroup">
              <h2 class="quran-reader-page__surah-name" *ngIf="getGroupSurahArabicName(group)">
                سورة {{ getGroupSurahArabicName(group) }}
              </h2>

              <p class="quran-reader-page__fallback-text">
                <ng-container *ngFor="let verse of group.verses; trackBy: trackByVerse">
                  <span>{{ verse.text_diacritics || '' }}</span>
                </ng-container>
              </p>
            </ng-container>

            <div class="quran-reader-page__number" *ngIf="pageData">{{ pageNumberLabel }}</div>
          </div>
        </section>
      </ng-template>
    </ng-container>
  </div>
</ion-content>

<ng-template #emptyLine>
  <span class="quran-reader-page__empty-line">&#160;</span>
</ng-template>
