<ion-header translucent="true">
  <ion-toolbar class="quran-reader-page__toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/quran"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ toolbarTitle() }}</ion-title>
    <ion-buttons slot="end" class="quran-reader-page__toolbar-actions">
      <div class="quran-reader-page__toolbar-page" *ngIf="toolbarPageLabel() as pageLabel">
        {{ pageLabel }}
      </div>
      <ion-button
        class="quran-reader-page__toolbar-toggle"
        fill="clear"
        size="small"
        [class.is-active]="showDiacritics()"
        [attr.aria-label]="textModeLabel()"
        (click)="toggleTextMode()"
      >
        <ion-icon slot="icon-only" [icon]="textModeIcon()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [forceOverscroll]="false">
  <div class="quran-reader-page">
    <section class="quran-reader-page__state" *ngIf="!currentPage() && loading()">
      <div class="quran-reader-page__placeholder quran-reader-page__placeholder--full">
        <div class="quran-reader-page__placeholder-line quran-reader-page__placeholder-line--short"></div>
        <div class="quran-reader-page__placeholder-sheet">
          <div class="quran-reader-page__placeholder-line"></div>
          <div class="quran-reader-page__placeholder-line" *ngFor="let _ of initialPlaceholderLines"></div>
          <div class="quran-reader-page__placeholder-line quran-reader-page__placeholder-line--short"></div>
        </div>
      </div>
    </section>

    <section class="quran-reader-page__state quran-reader-page__state--error" *ngIf="!currentPage() && error()">
      <p class="quran-reader-page__state-title">Unable to open this page</p>
      <p class="quran-reader-page__state-copy">{{ error() }}</p>
      <div class="quran-reader-page__state-actions">
        <ion-button fill="clear" (click)="retryCurrentRoute()">Try again</ion-button>
        <ion-button fill="solid" (click)="openBrowse()">Back to Index</ion-button>
      </div>
    </section>

    <ng-container *ngIf="currentPage() as page">
      <div class="quran-reader-page__banner" *ngIf="bannerError()">
        <span>{{ bannerError() }}</span>
        <ion-button fill="clear" size="small" (click)="retryCurrentRoute()">Retry</ion-button>
      </div>

      <div class="quran-reader-page__viewport">
        <swiper-container #swiperElement init="false" class="quran-reader-page__swiper">
          <swiper-slide class="quran-reader-page__slide">
            <ng-container *ngIf="page.meta.prevPage !== null">
              <app-quran-page-renderer
                *ngIf="previousPage() as previousPage; else loadingNeighbour"
                [page]="previousPage"
                [showDiacritics]="showDiacritics()"
              ></app-quran-page-renderer>
            </ng-container>
          </swiper-slide>

          <swiper-slide class="quran-reader-page__slide">
            <app-quran-page-renderer [page]="page" [showDiacritics]="showDiacritics()"></app-quran-page-renderer>
          </swiper-slide>

          <swiper-slide class="quran-reader-page__slide">
            <ng-container *ngIf="page.meta.nextPage !== null">
              <app-quran-page-renderer
                *ngIf="nextPage() as nextPageData; else loadingNeighbour"
                [page]="nextPageData"
                [showDiacritics]="showDiacritics()"
              ></app-quran-page-renderer>
            </ng-container>
          </swiper-slide>
        </swiper-container>
      </div>
    </ng-container>
  </div>

  <ng-template #loadingNeighbour>
    <div class="quran-reader-page__placeholder">
      <div class="quran-reader-page__placeholder-sheet">
        <div class="quran-reader-page__placeholder-line quran-reader-page__placeholder-line--short"></div>
        <div class="quran-reader-page__placeholder-line" *ngFor="let _ of neighbouringPlaceholderLines"></div>
      </div>
    </div>
  </ng-template>
</ion-content>
