<ion-header class="study-toolbar-wrap" translucent="true">
  <ion-toolbar class="quran-reader-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="study-back-button" defaultHref="/quran" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="quran-reader__toolbar-actions" *ngIf="pageData">
      <ion-segment
        [value]="textMode"
        class="quran-reader__toolbar-toggle quran-reader__toolbar-toggle--inline"
        (ionChange)="onTextModeChange($event)"
      >
        <ion-segment-button value="diacritic" aria-label="Diacritic text" title="Diacritic text">
          <ion-icon name="sparkles-outline" aria-hidden="true"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="plain" aria-label="Plain text" title="Plain text">
          <ion-icon name="remove-outline" aria-hidden="true"></ion-icon>
        </ion-segment-button>
      </ion-segment>
      <ion-button fill="clear" (click)="openBrowse()" aria-label="Browse Quran" title="Browse Quran">
        <ion-icon name="grid-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="study-content quran-reader-page"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
  (touchcancel)="resetTouch()"
>
  <div class="study-shell ion-padding app-text-select">
    <ion-item class="study-state study-state--error" lines="none" *ngIf="error">
      <ion-label>{{ error }}</ion-label>
    </ion-item>

    <ion-item class="study-state" lines="none" *ngIf="loading">
      <ion-label>Loading Quran page...</ion-label>
    </ion-item>

    <ng-container *ngIf="!loading && !error">
      <ng-container [ngSwitch]="activeTab">
        <section class="study-tab study-tab--reading" *ngSwitchCase="'reading'">
          <div class="study-reading-wrap" *ngIf="pageLayoutLines.length; else legacyReading">
            <div class="quran-reader__mushaf" dir="rtl" translate="no">
              <p
                *ngFor="let line of pageLayoutLines; trackBy: trackByLayoutLine"
                class="quran-reader__layout-line"
                [class.quran-reader__layout-line--ayah]="line.line_type === 'ayah'"
                [class.quran-reader__layout-line--centered]="line.is_centered"
                [class.quran-reader__layout-line--surah]="line.line_type === 'surah_name'"
                [class.quran-reader__layout-line--basmallah]="line.line_type === 'basmallah'"
              >
                {{ getLayoutLineDisplayText(line) }}
              </p>
            </div>
          </div>

          <ng-template #legacyReading>
            <ng-container *ngFor="let group of surahGroups; trackBy: trackByGroup; let isLastGroup = last">
              <div class="quran-reader__surah-opening" *ngIf="shouldShowSurahHeader(group)">
                <div class="quran-reader__surah-frame">
                  <span class="quran-reader__surah-medallion" aria-hidden="true"></span>
                  <div class="quran-reader__surah-title arabic">{{ getGroupSurahArabicName(group) }}</div>
                  <span class="quran-reader__surah-medallion" aria-hidden="true"></span>
                </div>

                <div class="quran-reader__bismillah" *ngIf="getOpeningBismillahText(group) as openingBismillah" dir="rtl">
                  <span class="quran-reader__bismillah-text arabic">{{ openingBismillah }}</span>
                  <span class="quran-reader__bismillah-marker" *ngIf="getOpeningBismillahMarker(group) as openingMarker">
                    {{ openingMarker }}
                  </span>
                </div>
              </div>

              <div class="study-reading-wrap">
                <div class="quran-reader__ayah-flow" dir="rtl" translate="no">
                  <p class="quran-reader__ayah-line" *ngFor="let verse of getReadingVerses(group); trackBy: trackByVerse">
                    <span class="quran-reader__ayah-text">{{ getVerseDisplayText(verse) }}</span>
                    <span class="study-reading-marker">{{ formatVerseMarker(verse) }}</span>
                  </p>
                </div>
              </div>

              <div class="quran-reader__page-no" *ngIf="isLastGroup">{{ pageNumberLabel }}</div>
            </ng-container>
          </ng-template>

          <div class="quran-reader__page-no" *ngIf="pageLayoutLines.length">{{ pageNumberLabel }}</div>
        </section>

        <section class="study-tab" *ngSwitchCase="'translation'">
          <ng-container *ngFor="let group of surahGroups; trackBy: trackByGroup">
            <div class="quran-reader__translation-pane" *ngIf="hasGroupTranslations(group); else noTranslation">
              <p class="study-reading-translation" *ngFor="let verse of group.verses; trackBy: trackByVerse">
                <span class="study-reading-translation-marker">{{ formatVerseMarker(verse) }}</span>
                {{ verse.translation }}
              </p>
            </div>

            <ng-template #noTranslation>
              <p class="study-empty">Translation is not available for this page.</p>
            </ng-template>
          </ng-container>
        </section>
      </ng-container>
    </ng-container>
  </div>
</ion-content>

<ion-footer class="study-footer" *ngIf="!loading && !error && pageData">
  <app-icon-tabs
    [tabs]="readerTabs"
    [activeKey]="activeTab"
    [manual]="true"
    (tabSelected)="setActiveTab($event === 'translation' ? 'translation' : 'reading')"
  ></app-icon-tabs>
</ion-footer>
