<ion-item-sliding class="brainstorm-idea-row">
  <ion-item
    button
    detail="false"
    lines="none"
    class="brainstorm-idea-row__item"
    appLongPress
    (click)="onSelect()"
    (appLongPress)="onLongPress()"
  >
    <ion-label>
      <h2>{{ idea.text }}</h2>
      <p>{{ metaLine }}</p>
    </ion-label>

    <div class="brainstorm-idea-row__flags" *ngIf="idea.pinned || idea.highlighted">
      <ion-icon *ngIf="idea.pinned" [icon]="icons.bookmarkOutline" aria-hidden="true"></ion-icon>
      <ion-icon *ngIf="idea.highlighted" [icon]="icons.sparklesOutline" aria-hidden="true"></ion-icon>
    </div>
  </ion-item>

  <ion-item-options side="start">
    <ion-item-option color="medium" (click)="onTogglePin()">
      {{ idea.pinned ? 'Unpin' : 'Pin' }}
    </ion-item-option>
    <ion-item-option color="medium" (click)="onToggleHighlight()">
      {{ idea.highlighted ? 'Unhighlight' : 'Highlight' }}
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side="end">
    <ion-item-option color="medium" (click)="onEdit()">Edit</ion-item-option>
    <ion-item-option color="danger" (click)="onDelete()">Delete</ion-item-option>
  </ion-item-options>
</ion-item-sliding>
