/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/poppins-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/poppins-latin-600-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/poppins-latin-700-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Uthmanic Hafs";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/UthmanicHafs_V22.woff2") format("woff2");
}

:root {
  --app-font-size: 16px;
  --app-font-ar-size: 32px;
  --app-font-sans: "Poppins", "Helvetica Neue", Arial, sans-serif;
  --app-font-ar: "Uthmanic Hafs", "Scheherazade New", serif;
}

body {
  font-family: var(--app-font-sans);
}

:lang(ar),
[lang="ar"],
.arabic,
[dir="rtl"] {
  font-family: var(--app-font-ar);
  font-size: var(--app-font-ar-size, var(--app-font-size));
}


html {
  font-size: var(--app-font-size, 16px);
}

ion-content {
  --background: #0b0d12;
}

ion-card {
  --background: #1c2230;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.35);
}

ion-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.45), 0 0 18px rgba(122, 215, 255, 0.18);
}

ion-modal::part(content) {
  box-shadow: 0 24px 60px rgba(0, 0, 0, 0.6);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--app-font-sans);
  font-weight: 800;
}

ion-menu h2 {
  font-family: var(--app-font-sans);
}

h1[lang="ar"], h2[lang="ar"], h3[lang="ar"], h4[lang="ar"], h5[lang="ar"], h6[lang="ar"],
.arabic h1, .arabic h2, .arabic h3, .arabic h4, .arabic h5, .arabic h6 {
  font-family: var(--app-font-ar);
}

ion-content::part(scroll) {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


:root[data-lang='ar'] ion-header ion-title {
  font-family: var(--app-font-ar);
}

:root[data-lang='ar'] ion-header ion-title,
:root[data-lang='ar'] ion-header ion-title * {
  font-weight: 700;
}


.app-text-select,
.app-text-select * {
  user-select: text;
}


ion-content,
ion-content * {
  user-select: text;
}
