:host {
  --root-font: var(--app-font-ar);
  --root-font-size: var(--app-font-ar-size, 32px);
}

ion-list h2 {
  font-family: var(--root-font);
  font-size: var(--root-font-size);
  letter-spacing: 0.3px;
}
