<div class="study-shell ion-padding km-planner-wrap km-lessons-content">

    <ng-container *ngIf="loading(); else lessonsLoaded">
      <section class="km-panel km-lessons-results">
        <ion-list class="km-entry-list">
          <ion-item class="km-entry-row" lines="none" *ngFor="let row of [1, 2, 3, 4, 5]">
            <ion-label>
              <h3><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h3>
              <p><ion-skeleton-text animated style="width: 85%"></ion-skeleton-text></p>
            </ion-label>
          </ion-item>
        </ion-list>
      </section>
    </ng-container>

    <ng-template #lessonsLoaded>
      <section class="km-panel km-lessons-results" *ngIf="lessons().length > 0; else emptyLessons">
        <ion-list class="km-entry-list">
          <ion-item
            class="km-entry-row km-entry-row--action"
            button="true"
            detail="true"
            lines="none"
            *ngFor="let lesson of lessons()"
            (click)="openLesson(lesson)"
          >
            <ion-label>
              <h3>{{ lesson.title }}</h3>
              <p class="km-entry-meta">{{ lesson.unit_id || lesson.container_id || 'Open lesson workspace' }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </section>

      <ng-template #emptyLessons>
        <section class="km-panel km-empty-state">
          <h3>No lessons found</h3>
          <p>Try a different search query.</p>
        </section>
      </ng-template>
    </ng-template>
</div>
