<ion-header class="kmaps-page-header">
  <ion-toolbar class="kmaps-page-header__toolbar">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="showMenuButton" [menu]="menuId"></ion-menu-button>
      <ion-button *ngIf="!showMenuButton && showBackButton" fill="clear" (click)="back()" aria-label="Back">
        <ion-icon [icon]="icons.arrowBackOutline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title
      class="kmaps-page-header__title"
      [class.kmaps-page-header__title--start]="titleAlignment === 'start'"
    >
      <span>{{ title }}</span>
      <small *ngIf="subtitle">{{ subtitle }}</small>
    </ion-title>

    <ion-buttons slot="end">
      <ng-content select="[kmapsHeaderEnd]"></ng-content>
      <ion-button *ngIf="showHomeButton" fill="clear" (click)="goHome()" aria-label="Home">
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="kmaps-page-header__toolbar app-page-toolbar--search" *ngIf="showSearch">
    <div class="app-page-search-row">
      <ion-searchbar
        class="km-searchbar app-page-searchbar"
        [value]="searchValue"
        [debounce]="searchDebounce"
        [placeholder]="searchPlaceholder"
        show-clear-button="focus"
        (ionInput)="onSearchInput($event.detail.value)"
      ></ion-searchbar>
      <ng-content select="[kmapsHeaderSearchEnd]"></ng-content>
    </div>
  </ion-toolbar>

  <ng-content select="[kmapsHeaderAfterSearch]"></ng-content>
</ion-header>
