<ion-header>
    <ion-toolbar>
      <ion-title class="root-card-header">{{ root }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="root-cards-empty" *ngIf="!cards.length">No cards found.</p>
  <pre class="cards-debug" *ngIf="!cards.length">{{ cards | json }}</pre>

  <ion-card *ngFor="let card of cards">
    <ion-card-content>
      <div class="root-card-front" lang="ar">{{ card.front }}</div>
      <div class="root-card-divider"></div>
      <div class="root-card-back">{{ card.back }}</div>
    </ion-card-content>
  </ion-card>
</ion-content>
